body {
  font-family: helvetica;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.controls {
  text-align: center;

}

header {
  width: 100%;
  top: 0px;
  padding: 20px;
  transition: height 500ms, background 500ms;
  height: 100px;
  margin-left: 0px;
}



button {
  font-size: 1.5rem;
  text-decoration: none;
  padding: .5rem 1.5rem .5rem;
  border: 0;
  border-radius: 3px;
  text-align: center;
  transition: all .15s ease-in-out;
  outline: none;
}


h1 {
  font-family: 'pf_din_text_comp_probold', sans-serif;
  text-transform: uppercase;
  margin: 5px;
  text-align: center;
  font-size: 4rem;
}


h2 {
  font-family: 'pf_din_text_comp_probold', sans-serif;
  text-transform: uppercase;
  margin: 5px;
  text-align: center;
}

.current-name {
  font-size: 2.5em;
/*   color: #FA4542;
 */}


.profile-card {
  flex: 1 1 200px;
  border-top: 15px solid black;
  margin: 20px;
  background-color: #FED606;
  max-width: 300px;
}

.profile-card:hover {
  cursor: pointer;
}

.profile-card > img {
  width: 100%;
  border-bottom: 5px solid #FED606;
}

.profile-card > a {
  text-decoration: none;
  color: black;
}

.profile-card > a:hover {
  color: #5d5d5d;
}

.hidden h2 {
  display: none;
}

button.hidden {
  display: none;
}

.score.hidden {
  display: none;
}

.score-pop.hidden {
  display: none;
}

@media (max-width: 450px) {
  .controls.tiny > button{
    font-size: 1rem;
    padding: .4rem 1rem;
  }
  header.tiny > .current-name {
    font-size: 2.5em;
  }

}
